$primary: #0bc6e3;
$secondary: #d0a85c;
$white: #fff;

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background-color: #030608;
  color: $white;
  font-family: 'Noto Sans KR', 'sans-serif';
  margin: 0;
}
