@import './border-animation.scss';
@import './fog-animation.scss';

@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/font/NotoSansKr-Medium.otf');
}

$primary: #0bc6e3;
$secondary: #d0a85c;
$tertiary: #7b6add;
$white: #fff;

* {
  box-sizing: border-box;
  font-family: 'NotoSansKR';

  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(#ccc, 0.4);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(#ccc, 0.9);
  }
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
}

body {
  height: 100%;
  background-color: #030608;
  color: $white;
  font-family: 'NotoSansKR';
  margin: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: #eee;
  &:visited {
    color: #eee;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  // text-decoration: unset;
}

pre {
  white-space: pre-line;
  margin: 0;
  padding: 0;
}

.divider {
  margin: 40px auto;
  height: 1px;
  border: unset;
  border-top: solid 1px #fff;

  &.small {
    width: 25%;
  }
}

// tablet-portrait
@mixin view-tm {
  @media (min-width: 0px) and (max-width: 1024px) {
    @content;
  }
}

@mixin view-tp {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

// tablet-landspace
@mixin view-tl {
  @media (min-width: 431px) and (max-width: 767px) {
    @content;
  }
}

@mixin view-m {
  @media (min-width: 0px) and (max-width: 430px) {
    @content;
  }
}
